app/frontend/javascripts/app/modules/commerce/subscription/_form.html
<form ng-submit="create_or_update(order)">
  <div ng-if="!order.id">
    <div class="form-group">
      <label>Клиент</label><input class="form-control" ng-model="reader.reader_id" placeholder="поиск пользователя" type="text" typeahead-min-length="4" typeahead-on-select="select_user($item)" typeahead-wait-ms="400" uib-typeahead="user.last_name + &#39; &#39; + user.first_name + &#39; (&#39; + user.email + &#39;)&#39; for user in find_users($viewValue)" />
    </div>
    <div class="form-group">
      <label>Период</label><select class="form-control" ng-model="order.period" ng-options="key as value for (key, value) in settings.periods"></select>
    </div>
    <div class="form-group">
      <label>Продукт</label><select class="form-control" ng-model="order.product" ng-options="key as value for (key, value) in settings.products"></select>
    </div>
  </div>
  <div class="form-group">
    <label>Дата начала</label><input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="order.start_date" required="" type="text" uib-datepicker-popup="" />
  </div>
  <div class="form-group">
    <label>Дата окончания</label><input class="form-control input-sm from" is-open="to_opened" ng-click="to_opened = true" ng-model="order.end_date" required="" type="text" uib-datepicker-popup="" />
  </div>
  <div class="form-group">
    <label>Аккаунт</label><input class="form-control" ng-model="order.account" type="text" />
  </div>
  <div class="form-group">
    <label>ID из базы подписки</label><input class="form-control" ng-model="order.subscribe_base_id" type="text" />
  </div>
  <div class="form-group">
    <label>Статус</label><select class="form-control" ng-model="order.payment_status" ng-options="key as value for (key, value) in statuses"></select>
  </div>
  <div class="form-group">
    <label>Свой статус</label><input class="form-control" ng-model="order.manager_status" type="text" />
  </div>
  <div class="form-group">
    <label>Комментарий</label><textarea class="form-control" ng-model="order.manager_comment" type="text"></textarea>
  </div>
  <div class="actions">
    <button class="btn btn-primary">Сохранить</button>
  </div>
</form>

app/frontend/javascripts/app/modules/commerce/payments/_form.html.slim
form ng-submit="create_or_update(order)"
  div ng-if="!order.id"
    .form-group
      label Пользователь
      input.form-control ng-model="reader.reader_id" placeholder="поиск пользователя" type="text" typeahead-min-length="4" typeahead-on-select="select_user($item)" typeahead-wait-ms="400" uib-typeahead="user.last_name + ' ' + user.first_name + ' (' + user.email + ')' for user in find_users($viewValue)"
    .form-group
      label Продукт
      select.form-control ng-model="order.payment_kit_id" ng-options="kit.id as naming(kit) for kit in payment_kits"
  .form-group
    label Дата начала
    input.form-control.input-sm.from is-open="from_opened" ng-click="from_opened = true" ng-model="order.start_date" required="" type="text" uib-datepicker-popup=""
  .form-group ng-if="order.id"
    label Дата окончания
    input.form-control.input-sm.from is-open="to_opened" ng-click="to_opened = true" ng-model="order.end_date" required="" type="text" uib-datepicker-popup=""
  .form-group
    label Аккаунт
    input.form-control ng-model="order.account" type="text"
  .form-group
    label ID из базы подписки
    input.form-control ng-model="order.subscribe_base_id" type="text"
  .form-group
    label Статус
    select.form-control ng-model="order.status" ng-options="status.slug as status.title for status in statuses"
  .form-group
    label Свой статус
    input.form-control ng-model="order.manager_status" type="text"
  .form-group
    label Комментарий
    textarea.form-control ng-model="order.manager_comment" type="text"
  .form-group
    label Цена:
    | {{ order.price }} руб.
  .actions
    button.btn.btn-primary Сохранить
