app/frontend/javascripts/app/modules/ui/categories/categories.html.slim
form.b-category-selector.well name="form"
  h4 Категории
  ul.form-group ng-include="branchTemplate" ng-repeat="category in filter_forbidden(tree)"
  .form-group ng-if="::action"
    br
    button.btn.btn-success.btn-block.btn-sm ng-disabled="$root.disabledCreateDocument" ng-click="update()" Сохранить изменения

app/frontend/javascripts/app/modules/ui/categories-forbidden/categories.html
<div class="b-category-selector well">
  <form name="form">
    <div class="form-group">
      <div ng-include="categoryTemplate" ng-init="root=true" ng-repeat="category in ::categories_as_tree | checkTree:currentcategory.forbidden_combinations"></div>
    </div>
    <div class="form-group" ng-if="::action">
      <button class="btn btn-success form-control" ng-click="update(document)" ng-disabled="form.$pristine">Сохранить</button>
    </div>
  </form>
</div>
