app/frontend/javascripts/app/modules/commerce/users/_orders.html.slim
table.b-users.table.table-stripped.table-hover.small
  thead
    tr
      th.id #
      th Дата
      th ФИО
      th Метод
      th Статус
      th Цена
      th Период
      th Продукт
      th Начало
      th Конец
      th SLX
      th Autopay
      th Льгота
      th
  tr.user ng-class="{ success: 'оплачен' == order.status_title, danger: 'отменен' == order.status_title }" ng-if="orders.length" ng-repeat="order in orders track by $index"
    td {{ ::order.id }}
    td {{ ::order.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}
    td {{ ::order.user_name }}
    td
      span.label.label-success {{ ::localize('methods', order.paymethod_title) }}
    td
      span.label.label-info {{ ::localize('states', order.status_title) }}
    td
      strong  {{ ::order.price }}
    td {{ ::localize('periods', order.period_title) }}
    td {{ ::order.product_title }} | {{ ::order.subproduct_title }}
    td {{ ::order.start_date | amDateFormat: 'YYYY-MM-DD' }}
    td {{ ::order.end_date | amDateFormat: 'YYYY-MM-DD' }}
    td
      span.glyphicon class="glyphicon-{{ ::slx_icon(order) }}"
    td
      span.glyphicon class="glyphicon-{{ ::autopay_icon(order) }}"
    td
      span.glyphicon.glyphicon-ok ng-show="order.price.student"
    td
      span.glyphicon.glyphicon-edit ui-sref="logged.payments.edit({ id: order.id })"
  tr ng-if="!orders.length"
    td.not-found colspan="7"
      | Заказы не найдены.

app/frontend/javascripts/app/modules/commerce/subscription/_orders.html
<table class="b-users table table-stripped table-hover small">
  <thead>
    <tr>
      <th class="id">
        #
      </th>
      <th>
        Дата
      </th>
      <th>
        ФИО
      </th>
      <th>
        Метод
      </th>
      <th>
        Статус
      </th>
      <th>
        Цена
      </th>
      <th>
        Период
      </th>
      <th>
        Продукт
      </th>
      <th>
        Начало
      </th>
      <th>
        Конец
      </th>
      <th>
        SLX
      </th>
      <th>
        Autopay
      </th>
      <th>
        Льгота
      </th>
      <th></th>
    </tr>
  </thead>
  <tr class="user" ng-class="{ success: &#39;paid&#39; == order.payment_status, danger: &#39;canceled&#39; == order.payment_status }" ng-if="orders.length" ng-repeat="order in orders track by $index">
    <td>
      {{ ::order.id }}
    </td>
    <td>
      {{ ::order.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}
    </td>
    <td>
      {{ ::order.users[0].first_name }} {{ ::order.users[0].last_name }}
    </td>
    <td>
      <span class="label label-success">{{ ::localize('methods', order.payment_method) }}</span>
    </td>
    <td>
      <span class="label label-info">{{ ::localize('states', order.payment_status) }}</span>
    </td>
    <td>
      <strong>{{ ::order.price.value }}</strong>
    </td>
    <td>
      {{ ::localize('periods', order.price.period) }}
    </td>
    <td>
      {{ ::order.price.product }}
    </td>
    <td>
      {{ ::order.start_date | amDateFormat: 'YYYY-MM-DD' }}
    </td>
    <td>
      {{ ::order.end_date | amDateFormat: 'YYYY-MM-DD' }}
    </td>
    <td>
      <span class="glyphicon glyphicon-{{ ::slx_icon(order) }}"></span>
    </td>
    <td>
      <span class="glyphicon glyphicon-{{ ::autopay_icon(order) }}"></span>
    </td>
    <td>
      <span class="glyphicon glyphicon-ok" ng-show="order.price.student"></span>
    </td>
    <td>
      <span class="glyphicon glyphicon-edit" ui-sref="logged.subscription.edit({ id: order.id })"></span>
    </td>
  </tr>
  <tr ng-if="!orders.length">
    <td class="not-found" colspan="7">
      Заказы не найдены.
    </td>
  </tr>
</table>
