app/frontend/javascripts/app/modules/commerce/users/edit.html.slim
.page-header
  h1
    a ui-sref="logged.users.list" &larr;
    | Пользователь «{{ user_state.user.nickname }}»
  div ng-include="formTemplate"
.row
  .col-md-12
    .b-users ng-include="ordersTemplate" ng-repeat="orders in [new_orders]"

app/frontend/javascripts/app/modules/commerce/subscription/edit.html
<div class="page-header">
  <h1>
    <a ui-sref="logged.subscription.list">&larr;</a> Заказ «{{ order.id }}»
  </h1>
</div>
<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>
        Дата создания
      </dt>
      <dd>
        {{ order.created_at | amDateFormat: 'HH:mm, DD MMM. YYYY' }}
      </dd>
      <dt>
        Метод
      </dt>
      <dd>
        {{ order.payment_method }}
      </dd>
      <dt>
        Статус
      </dt>
      <dd>
        <span class="label label-info">{{ order.payment_status }}</span>
      </dd>
      <dt>
        Цена
      </dt>
      <dd>
        {{ order.price.value  }}
      </dd>
      <dt>
        Период
      </dt>
      <dd>
        {{ order.price.period }}
      </dd>
      <dt>
        Продукт
      </dt>
      <dd>
        {{ order.price.product }}
      </dd>
      <dt>
        Дата начала
      </dt>
      <dd>
        {{ order.start_date | amDateFormat: 'DD MMM. YYYY' }}
      </dd>
      <dt>
        Дата Окончания
      </dt>
      <dd>
        {{ order.end_date | amDateFormat: 'DD MMM. YYYY' }}
      </dd>
      <dt>
        Autopay
      </dt>
      <dd>
        {{ null == order.autopayment ? false : order.autopayment }}
      </dd>
    </dl>
  </div>
  <div class="col-md-4">
    <div ng-include="formTemplate"></div>
  </div>
  <div class="col-md-12">
    <div class="b-users" ng-include="usersTemplate"></div>
  </div>
</div>
