app/frontend/javascripts/app/modules/commerce/users/form.html.slim
form.row name="form" ng-submit="create_or_update(user)"
  .col-md-6
    .form-group
      label Имя
      input.form-control ng-model="user.first_name" type="text"
    .form-group
      label Фамилия
      input.form-control ng-model="user.last_name" type="text"
    .form-group
      label Эл. почта
      input.form-control ng-model="user.email" type="text"
    .form-group
      label Логин
      input.form-control ng-model="user.nickname" type="text"
    .form-group style="margin-top: 40px"
      button.btn.btn-primary Сохранить
      span.btn.btn-danger.pull-right ng-click="destroy(user)"  Удалить
  .col-md-6
    .form-group
      label Компания
      input.form-control ng-model="user.company" type="text"
    .form-group
      label Телефон
      input.form-control ng-model="user.phone" type="text"
    .form-group
      label Статус
      select.form-control ng-model="user.status" ng-options="status.label as status.title for status in statuses"
    .form-group
      label День рождения
      input.form-control ng-model="user.birthday" type="text"
    .checkbox
      label
        input ng-disabled="true != user.autopay" ng-model="user.autopay" type="checkbox"
        | &nbsp;autopay
    h3 Способы авторизации
    div ng-if="!accounts.length" Способы авторизации не найдены.
    ul ng-if="accounts.length"
      li ng-repeat="account in accounts" {{ account.type }}

app/frontend/javascripts/app/modules/commerce/contacts/form.html
<form class="row" name="form" ng-submit="create_or_update(contact)">
  <div class="col-md-6">
    <div class="form-group" ng-if="contact.created_at">
      <label>Создан</label><br /><span ng-bind="contact.created_at | amDateFormat:&#39;YYYY-MM-DD HH:mm&#39;"></span>
    </div>
    <div class="form-group" ng-if="contact.updated_at">
      <label>Обновлен</label><br /><span ng-bind="contact.updated_at | amDateFormat:&#39;YYYY-MM-DD HH:mm&#39;"></span>
    </div>
    <div class="form-group">
      <label>Эл. почта</label><input class="form-control" ng-model="contact.email" type="text" />
    </div>
    <div class="form-group">
      <label>Статус</label><select class="form-control" ng-model="contact.contact_status" ng-options="status.label as status.title for status in statuses"></select>
    </div>
    <div class="form-group">
      <label>Статус подписки</label><br />
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="contact.subscription_status" uib-btn-radio="&#39;on&#39;">Подписан</label><label class="btn btn-primary" ng-model="contact.subscription_status" uib-btn-radio="&#39;off&#39;">Отписан</label>
      </div>
    </div>
    <div class="form-group">
      <label>Варианты рассылок</label><br />
      <div class="checkbox" ng-repeat="mailing in mailings">
        <label><input checklist-model="contact.type_ids" checklist-value="mailing.id" type="checkbox">&nbsp;<span>{{ mailing.title }}</span></input></label>
      </div>
    </div>
    <div class="form-group" style="margin-top: 40px">
      <button class="btn btn-primary">Сохранить</button><span class="btn btn-danger pull-right" ng-click="destroy(contact)" ng-if="contact.id">Удалить</span>
    </div>
  </div>
</form>
