app/frontend/javascripts/app/modules/commerce/users/list.html.slim
.page-header
  h1
    span ng-if="type == 'users'" Пользователи, {{ stat.users }}
    span ng-if="type == 'users.mobile'" Мобильные пользователи, {{ stat.users }}
form name="form"
  .form-group.form-inline
    .row
      .col-md-1
        label Статус &nbsp;
      .col-md-1
        select.form-control ng-model="filter.status" ng-options="status.label as status.title for status in states"
          option value="" любой
  .form-group.form-inline
    .row
      .col-md-1
        label Период &nbsp;
      .col-md-1
        input.form-control.input-sm.from is-open="from_opened" ng-click="from_opened = true"ng-model="filter.date_from" placeholder="начало" type="text" uib-datepicker-popup=""
      .col-md-1
        input.form-control.input-sm.to is-open="to_opened" ng-click="to_opened = true" ng-model="filter.date_to" placeholder="конец" type="text" uib-datepicker-popup=""
  .form-group
    .input-group
      input.form-control ng-model="search_value" placeholder="всё, что вы хотите знать о пользователе" type="text"
      .input-group-btn
        button.btn.btn-success ng-click="go(search_value)" Найти
        button.btn.btn-default ng-click="reset()" Очистить
br
.text-center ng-show="stat.users > per_page"
  uib-pagination boundary-links="true" items-per-page="{{ per_page }}" max-size="5" ng-change="to_page()" ng-model="current_page" total-items="stat.users"
.b-users ng-include="usersTemplate"

app/frontend/javascripts/app/modules/commerce/contacts/list.html
<div class="page-header">
  <h1>
    <span>Контакты</span>
  </h1>
</div>
<form name="form">
  <div class="form-group form-inline">
    <div class="row">
      <div class="col-md-1">
        <label>Статус&nbsp;</label>
      </div>
      <div class="col-md-1">
        <select class="form-control" ng-model="filter.status" ng-options="status.label as status.title for status in states">
          <option value="">
            любой
          </option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1">
        <label>Период</label>
      </div>
      <div class="col-md-1">
        <input class="form-control input-sm from" is-open="from_opened" ng-click="from_opened = true" ng-model="filter.date_from" type="text" uib-datepicker-popup="" placeholder="начало" />
      </div>
      <div class="col-md-1">
        <input class="form-control input-sm to" is-open="to_opened" ng-click="to_opened = true" ng-model="filter.date_to" type="text" uib-datepicker-popup="" placeholder="конец" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" ng-model="search_value" placeholder="всё, что вы хотите знать о пользователе" type="text" />
      <div class="input-group-btn">
        <button class="btn btn-success" ng-click="go(search_value)">Найти</button>
        <button class="btn btn-default" ng-click="reset()">Очистить</button>
      </div>
    </div>
  </div>
</form>
<br />
<div class="text-center" ng-show="stat.contacts > per_page">
  <uib-pagination boundary-links="true" items-per-page="{{ per_page }}" max-size="5" ng-change="to_page()" ng-model="current_page" total-items="stat.contacts"></uib-pagination>
</div>
<div class="b-users" ng-include="contactsTemplate"></div>
